@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
}   

.tt{
    font-weight: bold;
    background-color: rgba(0, 136, 255, 0.562);
}

/* .tt{
    font-weight: bold;
    background-color: rgb(233, 211, 17);
} */

.bann{
    font-weight: bold;
    background-color: #469fff;
  
}

.tt{
  font-weight: bold;
  background-color: #469fff;


}
.form-check{
  width: auto;
}




.search-container {
    width: 280px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown1 {
    background-color: #f7faff;
    display: flex;
    flex-direction: column;
    border: 1px solid #c7d5e0;
    border-radius: 3px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
  }
  
  .dropdown1:empty {
    border: none;
    box-shadow: none;
  }
  
  .dropdown1-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
    background-color: #e6f4ff;
  }
  
  .dropdown1-row:hover {
    background-color: #6dbcf1;
  }
  
  .dropdown1::-webkit-scrollbar {
    width: 8px;
  }
  
  .dropdown1::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .dropdown1::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
    
  /* input {
    width: 220px;
  }
   */
  .search-inner {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
  
  }

  .checkbox-container1 label {
    display: block;
    margin-bottom: 10px;
    font-size:small;
  }
  
  .checkbox-container1 input[type="checkbox"] {
    margin-right: 20px;
    vertical-align: middle;
    font-size-adjust: calc();
  }

  .popup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }

  .buss{
    width: 150px;
  }

  .hotls{
    width: 150px;
  }

  .flgt{
    width: 150px;
  }
  
  input:focus {
    outline: none;
    border-color: #4d90fe;
    box-shadow: 0 0 5px #4d90fe;
  }
  

  
  
 