@import url('https://fonts.google.com/specimen/Poppins');

body {
    font-family: 'Poppins', sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
}

.bg-blue {
  background-color: rgb(148, 36, 131);
}

.nav-link {
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: rgb(255, 53, 53);
}

/* .navbar-nav {
  margin-right: 0;
} */
