@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    font-family: 'Poppins';
  }

  .bg-blue {
    /* background-color: rgb(148, 36, 131); */
    background-color: rgb(20, 208, 196);
  }
  
  .nav-link {
    /* color: rgb(255, 255, 255); */
    /*color: rgb(7, 161, 48);*/
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    /* outline-style: groove; */
    cursor: pointer;
  }
/*   
  .nav-link:hover {
    color: rgb(255, 53, 53);
  } */
  
  /* .navbar-nav {
    margin-right: 0;
  } */
  
   /* .mx-3 {
    color: #0c0c0c;
    display: block;
    background-color: whitesmoke;
    border-color: #0c0c0c;
  }  */
  /* Style for heading */
  h1 {
    font-size: 1rem;
    font-weight: bold;
    text-decoration-line: underline;
    /* text-decoration-color: rgb(219, 219, 224); */
    /* color: #1384d5;
    border-color: aqua; */
    font-style: oblique;
  }
  
  /* Style for paragraph */
  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #0c0c0c;
  }
  
  li {
    font-size: 1rem;
    line-height: 1.5;
    color: #0c0c0c;
  }
  
  /* h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #1384d5;
    margin-bottom: 1rem;
    border-color: aqua;
    font-style: oblique;
  } */
  
  span {
    color: #0c0c0c;
  }

  .bimage {
    background-image: url('./assets/finalbg.png');
    background-size:cover;
    height: 135vh;
  } 
  
  